body {
	background-color:beige;
	margin:0
}

div.header {
	background-color: dimgray;
	width: 100%;
	height: .7in;
}

ul.links {
	list-style-type: none;
	float: right;
	margin: 4px;
	padding-right: 100px;
	margin-bottom: 4px;
}

ul.links li.name {
	color: #CDCDC1;
	font-weight: bold;
	display: inline;
	font-size: x-large;
	padding: 30px;
	font-family: georgia, serif;
}

ul.links li {
	display: inline;
	font-size: x-large;
	padding: 30px;
	font-family: arial, sans-serif;
}

.navtext a:link {
	color: #CDCDC1;
	text-decoration: none;
}

.navtext a:visited {
	color:#D2B48C;
}

.navtext a:hover { 
	color: beige;
	background: #383838;
	padding: .8em .8em;
}

.container {
	align-items: center;
	justify-content: center;
}

.profilepic {
	float: left;
	width: 435px;
	height: 315px;
	margin-top: 100px;
	margin-bottom: 100px;
	margin-left: 100px;
	margin-right:80px;
	border-radius: 150px;
	box-shadow: 15px 15px 8px grey;
}

.text {
	font-size: 30px;
	font-style: italic;
	padding-top: 10%;
	padding-left: 10px;
	color: saddlebrown;
}






