body {
	background-color:beige;
	margin: 0;
}

ul.navigation {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: dimgray;
	height: 55px;
	display: flex;
	justify-content: center;
}
		
li {
	float: left;
}

.name {
	font-weight: bold;
	font-size: 25px;
	display: block;
	text-align: center;
	padding: 15px 25px;
	font-family: Arial, Helvetica, Sans-serif;
	color: #CDCDC1;
}

li a {
	display: block;
	text-align: center;
	padding: 15px 25px;
	text-decoration: none;
	font-size: 18px;
	font-family: Arial, Helvetica, Sans-serif;
}

li a:link, a:visited {
	color: #CDCDC1;
	text-decoration: none;
}

li a:hover { 
	color: beige;
	background: #777777;
	border-bottom: 3px solid #777777;
}

.active { 
	color: navajowhite;
	background: #383838;
	display: block;
	text-align: center;
	padding: 15px 25px;
	text-decoration: none;
	font-size: 18px;
	font-family: Arial, Helvetica, Sans-serif;
}

div.header h1 {
	font:small-caps bold 2.5em/1.25em Georgia,serif;
	text-align:center;
	color:sienna;
	text-shadow:7px 1px 3px lightgray;
}

div.header h3 {
	font:italic 1.25em/.20em Verdana, 'Trebuchet MS', Sans-Serif;
	text-align:center;
	color:sienna;
}

.icons-box {
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-left: 250px;
	margin-right: 250px;
}

.icon {
	box-sizing: content-box;
	padding: 10px;
	padding-top: 65px;
	padding-bottom: 65px;
	margin-left: 40px;
	margin-right: 40px;
	height: 150px;
	width: 150px;
	display: inline-block;
	position: relative;
}

.icon img {
	height: 100px;
	width: 100px;
	opacity: .7;
	border-style: double;
	border-color: black;
	border-width: 8px;
	padding: 10px;
}

img:hover {
	opacity: 1;
	border-color: sienna;
}

.goto h5 {
	font-family: Tahoma, Sans-Serif;
	margin-left: 30px;
}
		
.goto a:link, .goto a:visited {
	color: #6F4242;
	text-decoration: underline;
}
				
.goto a:hover {
	color: navajowhite;
	background-color: #383838;
	padding: .4em .4em;
	text-decoration: none;
}

div.subheader h2{
	text-align:center;
}

mark {
	background-color:navajowhite;
	color:sienna;
	font-family:Georgia, Serif;
	padding: 0 6px;
	text-shadow:1px 0.5px 1px brown;
}

div.body p, blockquote {
	font-family:Verdana, 'Trebuchet MS',sans-serif;
	color: #6F4242;
	font-size: small;
	text-align:justify;
	line-height: 18px;
	word-spacing:1px;
	text-indent:79px;
}

.ski-pics {
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-left: 160px;
	margin-right: 160px;
}

.pics-hover img:hover {
	filter: grayscale(100%);
	border-radius: 5px;
	border-style: dashed;
	border-color: dimgray;
	border-width: 3px;	
}

.pics-portrait img {
	filter: grayscale(0);
	border-radius: 5px;
	border-style: dashed;
	border-color: #BC8F8F;
	border-width: 3px;
	padding: 8px;
	width: 210px; 
	height: 280px;
	margin: 10px;
}

.pics-landscape img {
	filter: grayscale(0);
	border-radius: 5px;
	border-style: dashed;
	border-color: #BC8F8F;
	border-width: 3px;
	padding: 8px;
	width: 350px; 
	height: 200px;
	margin: 50px;
}
