body{
  background-color:beige;
}
div.a h1 {
  font:small-caps bold 2.5em/1.25em Georgia,serif;
	text-align:center;
	color:saddlebrown;
  text-shadow:7px 1px 3px lightgray;
}
div.a h3 {
  font:italic 1.25em/.20em Tahoma, Sans-Serif;
  text-align:center;
  color:saddlebrown;
}
div.b a,h2{
  font-family:Georgia,serif;
  background-color:navajowhite;
  padding: 0 6px;
  color:sienna;
  text-shadow:1px 0.5px 1px brown;
}
div.b p,blockquote{
  font-family:Verdana,'Trebuchet MS',sans-serif;
  text-indent:80px;
  text-align:justify;
  line-height:1.5em;
  word-spacing:3px;
}