body {
	background-color:beige;
	margin:0;
}

ul.navigation {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: dimgray;
	height: 55px;
	display: flex;
	justify-content: center;
}

div.navigation li {
	float: left;
}

.name {
	font-weight: bold;
	font-size: 25px;
	display: block;
	text-align: center;
	padding: 15px 25px;
	font-family: Arial, Helvetica, Sans-serif;
	color: #CDCDC1;
}

li a {
	display: block;
	text-align: center;
	padding: 15px 25px;
	text-decoration: none;
	font-size: 18px;
	font-family: Arial, Helvetica, Sans-serif;
}

li a:link, a:visited {
	color: #CDCDC1;
	text-decoration: none;
}

li a:hover { 
	color: beige;
	background: #777777;
	border-bottom: 3px solid #777777;
}

.active { 
	color: navajowhite;
	background: #383838;
	display: block;
	text-align: center;
	padding: 15px 25px;
	text-decoration: none;
	font-size: 18px;
	font-family: Arial, Helvetica, Sans-serif;
}

div.resume {
	margin: 0 auto;
	margin-top: 70px;
	box-sizing: border-box;
	padding: 0.3in;
	width: 8.5in;
	height: 15.34in;
	background-color: white;
}

.header {
	justify-content:center;
	display: flex;
	flex-wrap: wrap;
	margin-top: 0;
	margin-left: .28in;
	margin-right: .28in;
	height: 1.8in;
}

.resumepic img {
	width: 1.8in;
	height: 1.8in;
	margin: 0;
	margin-left: 10px;
	margin-right: 25px;
}

.headertext h3 {
	font-family: Helvetica, Avernir, sans-serif;
	color: black;
	font-size: 30px;
	padding-top: 0;
	padding-bottom: .5px;
	text-align: center;
	text-shadow: 7px 1px 3px lightgray;
}

.headertext h4 {
	font: small-caps 1.5em/0em Verdana, 'Trebuchet MS', Sans-Serif;
	color: gray;
	font-size: large;
	text-align: center;
	padding-bottom: 5px;
}

.headertext h5 {
	text-align: center;
	color: black;
	font-size: 12px;
	font-family: Verdana, 'Trebuchet MS', Sans-Serif;
}

.headertext img {
	border: solid;
	border-width: 2px;
	margin-right: 10px;
	vertical-align: middle;
	width: 18px;
	height: 18px;
}

.profile-box {
	margin-left: .28in;
	margin-right: .28in;
	margin-top: 0;
	float: left;
	box-shadow: 10px 10px 5px grey;
	background: #F7F7F7;
	height: 230px;
	width: 700px;
	box-sizing: border-box;
}

.subheader-img {
	float: left;
	margin-right: 10px;
	vertical-align: left;
	height: 35px;
	width: 35px;
	margin-left: 10px;
}

.subheader {
	font-family: 'Lato', Sans-Serif;
	text-align: left;
	color: black;
	font-size: 20px;
}

div.content p, blockquote {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	color: black;
	font-size: 14px;
	line-height: 20px;
	text-indent:50px;
}

.skills-box {
	float: left;
	box-shadow: 10px 10px 5px grey;
	background: #F7F7F7;
	height: 170px;
	width: 700px;
	margin-left: .28in;
	margin-right: .28in;
	margin-top: 15px;
	box-sizing: border-box;
}

ul.lists {
	margin-left: 20px;
	list-style-type: disc;
}

.list-content {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	color: black;
	font-size: 14px;
	line-height: 20px;
}

.jobschool-title {
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	line-height: 20px;
	font-size: 14px;
	color: black;
}

.work-box {
	float: left;
	box-shadow: 10px 10px 5px grey;
	background: #F7F7F7;
	height: 175px;
	width: 700px;
	margin-left: .28in;
	margin-right: .28in;
	margin-top: 15px;
	box-sizing: border-box;
}

.job-box {
	float: left;
	width: 188px;
	height: 110px;
	box-sizing: border-box;
	margin-left: 35px;
	padding: 5px 5px 5px 5px;
}

.jobschool-content {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: black;
	line-height: 20px;
}

.school-box {
	float: left;
	box-shadow: 10px 10px 5px grey;
	background-color: #F7F7F7;
	height: 155px;
	width: 700px;
	margin-left: .28in;
	margin-right: .28in;
	margin-top: 15px;
	box-sizing: border-box;
}

.campus-box{
	float: left;
	width: 188px;
	height: 90px;
	box-sizing: border-box;
	margin-left: 35px;
	padding: 5px 5px 5px 5px;
}

.degree {
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	line-height: 20px;
	box-sizing: border-box;
}

.seminar-box {
	float: left;
	box-shadow: 10px 10px 5px grey;
	background-color: #F7F7F7;
	height: 210px;
	width: 700px;
	margin-left: .28in;
	margin-right: .28in;
	margin-top: 15px;
	box-sizing: border-box;
}

.hobbies-box {
	float: left;
	box-shadow: 10px 10px 5px grey;
	background-color: #F7F7F7;
	height: 170px;
	width: 700px;
	margin-left: .28in;
	margin-right: .28in;
	margin-top: 15px;
	box-sizing: border-box;
}

.goto h5 {
	font-family: Tahoma, Sans-Serif;
	margin-left: 30px;
}
		
.goto a:link, .goto a:visited {
	color: #6F4242;
	text-decoration: underline;
}
		
.goto a:hover {
	color: navajowhite;
	background-color: #383838;
	padding: .4em .4em;
	text-decoration: none;
}
