body{
  background-color:beige;
}
div.a h1 {
  font:small-caps bold 2.5em/1.25em Georgia,serif;
	text-align:center;
	color:saddlebrown;
  text-shadow:7px 1px 3px lightgray;
}
div.a h3 {
  font:small-caps 1.25em/.20em Verdana, Sans-Serif;
  text-align:center;
  color:saddlebrown;
}

ul.b {
  list-style-image: url(https://www.lulus.com/images/swatch/small/1180882_127666.jpg);
}




